<!DOCTYPE html>
<html lang="en" class="auth_body">
<head>
    <link href="https://fonts.googleapis.com" rel="preconnect">
    <link crossorigin href="https://fonts.gstatic.com" rel="preconnect">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@700&display=swap" rel="stylesheet">
    <link href="public/stylesheets/styles.css" rel="stylesheet">

    <meta charset="UTF-8">
    <title>Авторизация</title>

</head>
<body class='auth_body'>
<form action='/auth' method="post" id="authorization_container">
    <img
            src="public/images/dog_logo.svg"/>
    <div id="text" align="center">Войдите в игру</div>

    <div class="data" >
<!--        Логин: "Nikita"-->
<!--        Пароль: "Pomytkin"-->
        <% if (hasError) { %>
            <div class="error_text">
                <input class="text-field__input" id="login" name="login" placeholder="Логин"
                       style="border: 1px solid #e93e3e">
                Неверный логин
            </div>
            <div class="error_text">
                <input class="text-field__input" id="password" name="password" placeholder="Пароль"
                       style="border: 1px solid #e93e3e">
                Неверный пароль
            </div>
        <% } else { %>
            <input class="text-field__input" id="login" name="login" type="text" placeholder="Логин">
            <input class="text-field__input" id="password" name="password" type="password" placeholder="Пароль">
        <% } %>
    </div>
        <input type='submit' class="button_func" id="submit" value="Войти">

</form>
<script src="public/javascripts/validation.js"></script>
</body>
</html>