<!DOCTYPE html >
<html lang="en">
<head>
    <link href="https://fonts.googleapis.com" rel="preconnect">
    <link crossorigin href="https://fonts.gstatic.com" rel="preconnect">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400&display=swap" rel="stylesheet">
    <link href="public/stylesheets/styles.css" rel="stylesheet">

    <meta charset="UTF-8">
    <title>Рейтинг</title>

</head>
<body class="scores_body">
<header>
    <div id="logo"><img src="public/images/s-logo.svg"/></div>
    <div id="nav-panel">
        <div>Игровое поле</div>
        <div class="active">Рейтинг</div>
        <div>Активные игроки</div>
        <div>История игр</div>
        <div>Список игроков</div>
    </div>
    <button><img src="public/images/signout-icon.svg"/></button>
</header>


<div id="scores_container">
    <h1 class="scores_title">Рейтинг игроков</h1>
    <table class="scores_table">
        <thead>
        <tr class="class_row">
            <th class="first_column">
                ФИО
            </th>
            <th class="tipic_coloumn">
                Всего игр
            </th>
            <th class="tipic_coloumn">
                Победы
            </th>
            <th class="tipic_coloumn">
                Проигрыши
            </th>
            <th class="last_coloumn">
                Процент побед
            </th>
        </tr>
        </thead>
        <% scoresList.forEach(function(user) { %>
            <tr class="class_row">
                <td class="first_column">
                    <%= user.name %>
                </td>
                <td class="tipic_coloumn">
                    <%= user.totalGames %>
                </td>
                <td class="tipic_coloumn" id="green-color">
                    <%= user.wins %>
                </td>
                <td class="tipic_coloumn" id="red_color">
                    <%= user.loses %>
                </td>
                <td class="last_coloumn">
                    <%= user.percentWins %>%
                </td>
            </tr>
        <% }); %>

    </table>
</div>
</body>
</html>